html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }

  /* a {
    text-decoration: none;
    color: white;
  } */
  
  .OuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    /* background-color: #1A1A1D; */
    background-image: url(../../Images/203519.jpg);
    background-size: cover;
  }
  
  .InnerContainer {
    width: 20%;
  }
  
  .Input {
    border-radius: none;
    padding: 15px 20px;
    width: 100%;
    margin-top: 5px;
    font-size: 120%;
    /* font-weight: bold; */
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    background-color: red;
    padding: 5px;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }

  .descInputs {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3em;
    margin-top: 20px;
  }

  .buttonLogIn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
}
  
  .mt-20 {
    margin-top: 20px;
  }

  .CreateAccount {
    /* display: flex; */
    font-size: 1.1em;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .OuterContainer {
      height: 100%;
    }
  
    .InnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }