.OuterContainerNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.InnerContainerNavBar {
    background-color: #F5F5F5;
    padding: 10px;
    margin: 10px;
}